* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  margin: 0%;
}

body {
  font-family: "Roboto", sans-serif;
}

header h1, h2 {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

main a {
  text-decoration: none;
  color: black;
}

footer a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.header_logo {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.header h1 {
  cursor: pointer;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 20px;
  height: auto;
  background-color: black;
  color: white;
}
.footer_logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}
.footer_link {
  display: flex;
  align-items: center;
  height: 30px;
}
.footer_link_mentions {
  margin-top: 7px;
  margin-bottom: -4px;
}
.footer_icon_propose {
  padding-right: 15px;
}
.footer_icon_partner {
  padding-right: 10px;
}

.location {
  width: 100%;
  height: 285px;
  background-color: #F2F2F2;
  padding-bottom: 10px;
}
@media screen and (max-width: 386px) {
  .location {
    height: 320px;
  }
}
@media screen and (max-width: 356px) {
  .location {
    height: 340px;
  }
}
.location_city {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #EDE8E7;
  margin-top: 0px;
}
.location_icon {
  padding-left: 19px;
  padding-right: 3px;
}
.location input {
  width: 130px;
  height: 30px;
  border: none;
  background-color: #EDE8E7;
  padding-left: 5px;
}
.location_title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  background-color: #F2F2F2;
  text-align: center;
}
.location_title_p {
  font-size: 20px;
}

.operating {
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.operating_title {
  margin-bottom: 25px;
}
.operating_choose, .operating_compose, .operating_enjoy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.operating_number {
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  z-index: 1;
}
.operating_text1 {
  padding-left: 22px;
}
.operating_text2 {
  padding-left: 20px;
  padding-right: 47px;
}
.operating_text3 {
  padding-left: 17px;
}
.operating_button {
  display: flex;
  align-items: center;
  width: 310px;
  height: 60px;
  border: 1px solid #F2F2F2;
  border-radius: 17px;
  background-color: #F2F2F2;
  box-shadow: 4px 4px 7px 1px #D9D9D9;
  transition: all 200ms;
}
@media screen and (max-width: 355px) {
  .operating_button {
    width: 230px;
  }
}
.operating_button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 4px 4px 7px 1px #a6a6a6;
  background: #f7f7f7;
}
.operating_button:hover > .operating_icon {
  color: #9356DC;
  transform: scale(1.15);
}
.operating_icon {
  transition: all 200ms;
  padding-left: 30px;
  color: grey;
}

.restaurants {
  height: auto;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.restaurants_cards {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 350px;
  margin: auto;
  background-color: white;
  box-shadow: 4px 4px 7px 1px #D9D9D9;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: all 300ms;
}
@media screen and (max-width: 435px) {
  .restaurants_cards {
    height: 290px;
  }
}
@media screen and (max-width: 360px) {
  .restaurants_cards {
    height: 270px;
  }
}
@media screen and (max-width: 330px) {
  .restaurants_cards {
    height: 250px;
  }
}
@media screen and (max-width: 305px) {
  .restaurants_cards {
    height: 235px;
  }
}
.restaurants_cards:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 7px 1px #a6a6a6;
}
.restaurants_images {
  width: 100%;
  height: 240px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
@media screen and (max-width: 435px) {
  .restaurants_images {
    height: 230px;
  }
}
@media screen and (max-width: 360px) {
  .restaurants_images {
    height: 210px;
  }
}
@media screen and (max-width: 330px) {
  .restaurants_images {
    height: 190px;
  }
}
@media screen and (max-width: 305px) {
  .restaurants_images {
    height: 175px;
  }
}
.restaurants_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}
.restaurants_text_name {
  margin-bottom: 3px;
  margin-top: 5px;
  font-weight: bold;
}
.restaurants_text_location {
  margin-bottom: 0px;
  margin-top: 0px;
}
.restaurants_new {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 90px;
  height: 30px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-menu {
  width: 100%;
  height: 305px;
  object-fit: cover;
}
@media screen and (max-width: 390px) {
  .image-menu {
    height: 280px;
  }
}
@media screen and (max-width: 350px) {
  .image-menu {
    height: 225px;
  }
}

.menu {
  margin-top: -40px;
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 35px 35px 0 0;
  background-color: #F2F2F2;
}
.menu_title {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu h3 {
  font-weight: 500;
}
.menu_choice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 4px 4px 7px 1px #D9D9D9;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  animation: animation-menu-appear 1s ease-in-out both;
}
.menu_choice:hover .menu_choice_transition {
  margin-right: 0;
}
.menu_choice:hover .menu_choice_transition .fa-check {
  animation: animation-menu 0.8s;
}
.menu_choice h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}
.menu_choice_transition {
  width: 65px;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin-right: -65px;
  transition: all 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_choice_transition .fa-check {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_choice_text {
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu_choice_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.menu_choice_price p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.menu_choice_price span {
  padding-left: 7px;
  font-weight: bold;
}
.menu_starter, .menu_maincourse, .menu_dessert {
  margin-bottom: 35px;
}
.menu_starter h3, .menu_maincourse h3, .menu_dessert h3 {
  position: relative;
  margin-bottom: 25px;
}
.menu_starter h3::after, .menu_maincourse h3::after, .menu_dessert h3::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #99E2D0;
}
.menu_button {
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

.menu_choice1 {
  animation-delay: 250ms;
}

.menu_choice2 {
  animation-delay: 500ms;
}

.menu_choice3 {
  animation-delay: 750ms;
}

@keyframes animation-menu-appear {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animation-menu {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.loading {
  background-color: #F2F2F2;
  opacity: 0.8;
  position: fixed;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading 3s both;
}
.loading::after {
  content: "";
  border: 7px solid #D9D9D9;
  border-top-color: #9356DC;
  border-right-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: loading-spinner 3s ease-in-out both;
}

@keyframes loading {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
    visibility: visible;
  }
  to {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 205px;
  margin: auto;
  border-radius: 22px;
  border: none;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 3px 3px 7px 1px #D9D9D9;
  color: white;
  transition: all 200ms ease;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 3px 3px 7px 1px #a6a6a6;
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 220, 0.85) 100%);
}

.restaurants .heart-1, .menu .heart-1 {
  position: relative;
  padding-right: 1px;
  font-size: 22px;
  font-weight: 300;
  transition: all 200ms ease;
}
.restaurants .heart-2, .menu .heart-2 {
  color: transparent;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.restaurants .heart-2:hover, .menu .heart-2:hover {
  opacity: 1;
  transform: scale(1.08);
}

/*# sourceMappingURL=style.css.map */
