.footer {
    padding-left :25px;
    padding-top: 15px;
    padding-bottom: 17px;
    height : auto;
    background-color: black;
    color :white;
    @media screen and (min-width: 768px) {
        padding-left:0;
    }
    &_logo {
        font-family: "Shrikhand", cursive;
        font-size:18px;
        color:white;
        margin-bottom :15px;
    }
    ul {
        list-style:none;
        padding-left: 0;
        @media screen and (min-width:768px) {
            @include flexbox-center; 
            flex-direction: column; 
        } 
    }
    &_link {
        display: flex;
        align-items: center;
        height:30px;
        &_mentions {
            margin-top :7px;
            margin-bottom: 6px;
        }
        &_contact {
            margin-top:12px;
            @media screen and (min-width:768px) {
                margin-top:7px;
            }
        }
    }
    &_icon {
        &_propose {
            padding-right : 15px;
        }
        &_partner {
            padding-right: 10px;
        }
    }
}