.footer {
    padding-left :25px;
    padding-top: 27px;
    padding-bottom: 20px;
    height : auto;
    background-color: black;
    color :white;
    @media screen and (min-width:768px) {
        padding-left: 45px;
    }
    &_logo {
        font-family: "Shrikhand", cursive;
        font-size:18px;
        color:white;
        margin-bottom :15px;
        cursor: pointer;
        
    }
    ul {
        list-style:none;
        padding-left: 0;
    }
    &_link {
        display: flex;
        align-items: center;
        height:30px;
        &_mentions {
            margin-top :7px;
            margin-bottom: 6px;
        }
        &_contact {
            margin-top:12px;
        }
    }
    &_icon {
        &_propose {
            padding-right : 15px;
        }
        &_partner {
            padding-right: 10px;
        }
    }
}