.footer {
    padding-left :20px;
    padding-right: 20px;
    padding-top: 27px;
    height : 195px;
    background-color: black;
    color :white;
    &_logo {
        font-family: "Shrikhand", cursive;
        font-size:18px;
        color:white;
        margin-bottom :15px;
        
    }
    &_link {
        display: flex;
        align-items: center;
        height:30px;
        &_mentions {
            margin-top :7px;
            margin-bottom: -4px;
        }
    }
    &_icon {
        &_propose {
            padding-right : 15px;
        }
        &_partner {
            padding-right: 10px;
        }
    }
}