.button {
    display: flex;
        justify-content: center;
        height:47px;
        align-items: center;
        width: 205px;
        margin: auto;
        border-radius: 20px;
        border:none;
        background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
        box-shadow:0px 0px 11px 0px rgba(213 182 179);
        color: white;
        transition : all 200ms;
        &:hover {
            @include button-hover;
            cursor:pointer;
        }
}