.loading {
    background-color: $color-background;
    opacity: 0.8;
    position: fixed;
    inset: 0; 
    z-index:2;
    width: 100%;
    height:100vh;
    @include flexbox-center;
    animation:loading 3s both;
    &::after {
        content:"";
        border-top: 5px solid $color-primary;
        border-right: 5px solid $color-primary;
        border-radius:50%;
        width: 85px;
        height: 85px;
        animation:loading-spinner 1.5s linear both; 
        animation-iteration-count: 2;        
    }
}
 
@keyframes loading {
    from {
        visibility:visible;
    }
    to {
        visibility:hidden;
    }
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
        visibility:visible;
    }
    100% {
        transform: rotate(360deg);
        visibility: hidden;
    }
}