body {
    font-family: 'Roboto', sans-serif;
}

header h1, h2 {
    font-family: "Shrikhand",cursive;
    font-size: 24px;
}

h3 {
    font-size : 20px;
}

.menu h3 {
    font-weight: 500;
}

h4 {
    font-size: 18px;
}

main a {
    text-decoration: none;
    color: black;
}

footer a {
    text-decoration: none;
    color: white ;
}
