.image-menu {
    width : 100%;
    height:305px;
    object-fit: cover;
    @media screen and (max-width: 390px) {
    height : 280px;
    }
    @media screen and (max-width: 350px) {
        height : 225px;
    }
}

.menu {
    margin-top: -40px;
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 35px 35px 0 0;
    background-color: $color-background;
    &_title {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_choice {
        // white-space:nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        display: flex;
        justify-content: space-between;
        width:100%;
        height: 70px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 4px 4px 7px 1px $color-background-darken ;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        animation: animation-menu-appear 3s ease-in-out 150ms both;
        &:hover {
            .menu_choice_animation {
                margin-right :0;
            }
            i {
                animation: animation-menu 0.8s;
            }
        }
        & h4 {
            white-space:nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top :0;
            margin-bottom: 0;
        }
        &_animation {
            width :65px;
            background: $color-tertiary;
            border-radius: 0 20px 20px 0;
            margin-right:-65px;
            transition: all 0.8s ease;
            @include flexbox-center;
            & i {
                background-color: white;
                width:20px;
                height:20px;
                border-radius:50%;
                color:$color-tertiary;
                @include flexbox-center;
            }
        }
        &_text {
            // white-space:nowrap;
            // text-overflow: ellipsis;
            overflow: hidden;
            width:100%;
            padding-top:10px;
            padding-bottom:10px;
            padding-left:15px;
            padding-right:15px;
        }
        &_price {
            // white-space:nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top:10px;
            & p {
                white-space:nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin :0;
                //margin-top:0px;
            }
            & span {
                padding-left: 7px;
                font-weight: bold;
            }
        }
    }
    &_starter, &_maincourse, &_dessert {
        margin-bottom : 35px;
        & h3 {
            position: relative;
            margin-bottom: 25px;
            &::after {
                content: "";
                position:absolute;
                top: 26px;
                left: 0;
                width: 50px;
                height: 3px;
                background: $color-tertiary;
                }
            }
        }    
    &_button {
        background-color: $color-background;
        padding-bottom: 50px;
    }
}

@for $i from 1 through 3 {
    .menu_choice#{$i} {
    animation-delay: 300ms*$i;
    }
}
