.operating {
    height:355px;
    padding-top: 9px;
    padding-left : 25px;
    padding-right: 25px; 
    background-color: white;
    @media screen and (min-width:992px) {
        height: 230px;
    }
    &_title { 
        margin-bottom :24px;
        padding-left: 0px;
        @media screen and (min-width:992px) {
            margin-bottom: 40px;
        }
    }
    &_steps {
        @media screen and (min-width:992px) {
            display: flex;
            justify-content: space-between;
            padding-left:55px;
            padding-right:55px;
        }  
    }
    &_choose, &_compose, &_enjoy {
        @include flexbox-center;
        margin-bottom:30px;
        margin-right: -12px;
        @media screen and (min-width:992px) {
            margin-left:0;
            margin-right:0;
            justify-content: space-evenly;
            width : 30%;
        }
    }
    &_choose i {
        font-size : 18px;
    }
    &_text1 {
        padding-left:14px;
        padding-right: 5px;
        @media screen and (max-width:330px) {
            padding-left: 27px;
            padding-right:12px;
        }
        @media screen and (min-width:331px) and (max-width: 410px) {
            padding-left:9px;
        }
        @media screen and (min-width:992px) and (max-width:1319px) {
            padding-left: 20px;
        } 
    }
    &_text2 {
        padding-left:12px;
        padding-right:20px;
        @media screen and (max-width:330px) {
            padding-left: 25px;
            padding-right:63px;
        }
        @media screen and (min-width:331px) and (max-width: 410px) {
            padding-left:7px;
        }
        @media screen and (min-width:992px) and (max-width:1319px) {
            padding-left: 18px;
            padding-right:63px;   
        }
    }
    &_text3 {
        padding-left:9px;
        padding-right: 5px;
        @media screen and (max-width:330px) {
            padding-left: 22px;
            padding-right:15px;
        }
        @media screen and (min-width:331px) and (max-width: 410px) {
            padding-left:4px;
        }
        @media screen and (min-width:992px) and (max-width:1319px) {
            padding-left:15px;
            padding-right:20px;   
        }
    }
    &_button {
        display: flex;
        align-items: center;
        max-width:330px;
        width: 100%;
        height:60px;
        border:1px solid $color-background;
        border-radius:27px;
        background-color: $color-background; 
        box-shadow: 4px 4px 7px 1px $color-background-darken; 
        transition: all 200ms;
        position:relative;
        @media screen and (max-width:330px) {
            width:231px;
        }
        @media screen and (min-width: 331px) and (max-width: 410px) {
            width : 260px;
        }
        @media screen and (min-width:992px) and (max-width:1319px) {
            width:249px;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            box-shadow:4px 4px 7px 1px darken($color-background-darken, $amount: 20%);
            background: lighten($color-background, $amount:2%);
        }
        &:hover >.operating_icon {
            color: $color-primary;
        }
    }
    &_number {
        @include flexbox-center;
        width:30px;
        height:30px;
        border: 1px solid $color-primary;
        border-radius: 50%;
        color: white;
        background-color: $color-primary;
        position:absolute;
        left:-12px;
    }
    &_icon {   
    padding-left:38px;
    padding-right:7px;
    color: grey;
        @media screen and (min-width:316px) and (max-width:991px) {
            padding-left:29px;
        }
    } 
}





