@mixin flexbox-center {
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin button-hover {
    transform: scale(1.02);
    background: opacity 0.1;
    box-shadow:4px 4px 7px 4px darken($color-background-darken, $amount: 20%);
}

