$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-linear-gradient :linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);

$color-background: #F2F2F2;
$color-background-darken: #D9D9D9;
$color-location-city: #EDE8E7;